/* This is the CSS document */

/* CSS reset */
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
    margin: 0;
    padding: 0;
}


/* TOP HEADER */

#top-header {
    background-color: black;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 48px;
    width: 100%;
}

#top-header>p {
    color: #FFF;

    font-family: Nunito;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}


/* BOT HEADER */

.bot-header-icons {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

#patagonia-logo {
    display: flex;
    width: 136px;
    height: 56px;
    min-width: 120px;
}

#bot-header {
    display: flex;
    height: 56px;
    padding: 0px 16px;
    justify-content: space-between;
}


/* Product section */

#product-photo {
    width: 100%;
}

#product-photo-arrow-description {
    display: flex;
    flex-direction: column;
    gap: 120px;
    position: absolute;
    top: 274px;
    left: 0px;
    width: 100%;
}

.product-photo-description {
    display: flex;
    justify-content: center;
    background-color: #FFF;
    border-radius: 12px;
    padding: 4px 12px;
}

.product-photo-description>p {
    font-family: Nunito;
    font-size: 12px;
    font-weight: 700;
}

#product-photo-description-lineup {
    display: flex;
    justify-content: space-between;
    margin-left: 16px;
    margin-right: 16px;
}

#product-photo-arrows {
    display: flex;
    justify-content: space-between;
    margin-left: 16px;
    margin-right: 16px;
}

