/* This is the CSS document */

/* CSS reset */
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

/* TOP HEADER */

#top-header {
    background-color: black;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 48px;
    width: 100%;
}

#top-header>p {
    color: #FFF;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}


/* BOT HEADER MOBILE */

.bot-header-icons {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.bot-header-icons>img {
    width: 32px;
}

#patagonia-logo-mobile {
    display: flex;
    width: 136px;
    height: 56px;
    min-width: 120px;
    max-width: 136px;
}

#patagonia-logo-mobile>img {
    width: 136px;
    min-width: 120px;
}

#bot-header-mobile {
    display: flex;
    height: 56px;
    padding: 0px 16px;
    justify-content: space-between;
}

/* BOT HEADER DESKTOP */

#bot-header-center-desktop {
    display: flex;
    justify-content: center;
    width: 100%;
}

#bot-header-desktop {
    display: none;
    padding: 20px 80px;
    justify-content: space-between;
    align-items: center;
    max-width: 1280px;
    flex: 1;
}

#bot-menu-desktop {
    display: flex;
    flex-direction: row;
    gap: 24px;

    /* Style text */
    font-size: 16px;
    font-weight: 400;
}

#patagonia-logo-desktop {
    display: flex;
    width: 136px;
    min-width: 120px;
    max-width: 136px;

    position: absolute;
    left: calc(50% - 68px);

}

#patagonia-logo-desktop > img {
    width: 136px;
    min-width: 120px;
}

#bot-header-icons-desktop {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

#bot-header-icons-desktop > img {
    width: 32px;
}



/* Product section */
#product-section {
    display: flex;
    flex-direction: column;
    padding-bottom: 120px;
}

#product-visual-and-nav {
    display: flex;
    flex-direction: column;
}

#product-information {
    display: flex;
    flex-direction: column;
}

#product-photos {
    position: relative;
}

#product-photo {
    width: 100%;
}

#product-photo-floating {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

#product-photo-arrows {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;

    display: flex;
    justify-content: space-between;
    padding-left: 16px;
    padding-right: 16px;
}

#product-photo-descriptions {
    position: absolute;
    bottom: 24px;
    left: 0;
    right: 0;

    display: flex;
    justify-content: space-between;
    padding-left: 16px;
    padding-right: 16px;
}

.product-photo-description {
    display: flex;
    justify-content: center;
    background-color: #FFF;
    border-radius: 12px;
    padding: 4px 12px;
}

.product-photo-description>p {
    font-size: 12px;
    font-weight: 700;
}

/* Path back to 'Button-Down Shirts' */

#arrow-backwards-path {
    display: flex;
    flex-direction: row;
    gap: 6px;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 16px;
    padding-right: 16px;
}

#arrow-backwards-path>p {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


/* Headline, review and price */

#headline-review-price {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-left: 16px;
    padding-right: 16px;
}

#product-headline {
    font-size: 20px;
}

#star-review {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

#stars {
    display: flex;
    flex-direction: row;
    gap: 10px;
}


#underline-review {
    text-decoration: underline;
    text-decoration-thickness: 2.5px;

    /* style for text */
    font-size: 12px;
    font-weight: 700;
}

#pricetag {
    /* Style for text */
    color: #000;
    font-size: 18px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}



/*Color picker*/

#color-picker {
    display: flex;
    flex-direction: column;
    padding: 15px 16px 0 16px;
    gap: 10px;
}

#color-picker-text {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

#color-picker-bold-text {
    font-size: 14px;
    font-weight: 700;
}

#color-picker-regular-text {
    font-size: 14px;
    font-weight: 400;
}

#color-dots {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
}

.dot {
    position: relative;
    height: 32px;
    width: 32px;
    border-radius: 50%;
}

.dot.active::before {
    /* Styling */
    border: 2px solid #000;
    border-radius: 50%;
    width: 110%;
    height: 110%;

    /* Says that it should display as a normal element */
    content: "";
    display: block;

    /* Placement */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#dot-cascane-pine-needle-green {
    background-color: #212121;
}

#dot-shelter-brown {
    background-color: #7B5427;
}

#dot-tidepool-blue {
    background-color: #8B9096;
}

#dot-oxide-red {
    background-color: #650517;
}

#dot-ww-pine-needle-green {
    background-color: #434237;
}


/* Sizing picker */

#sizing-picker {
    padding: 15px 16px 15px 16px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#sizing-text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#size-text {
    font-size: 14px;
    font-weight: 700;
}

#size-guide-text {
    font-size: 14px;
    text-decoration-line: underline;
}

#sizing-buttons-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}

.size-button {
    display: flex;
    width: 102px;
    height: 56px;
    justify-content: center;
    align-items: center;
    /* Makes the border appear on the inside */
    box-sizing: border-box;

    border-radius: 8px;
    background: #F5F5F5;
}

.sizing-button-text {
    font-size: 16px;
    font-weight: 700;
}

.size-button.active {
    border: 2px solid #000;
}



/* Favorite button & Add-to-Bag button */
#favorite-bag-buttons {
    display: flex;
    flex-direction: row;
    padding: 0 16px 0 16px;
    gap: 10px;
}

#heart-button {
    width: 56px;
    height: 56px;
    border-radius: 28px;
    background: #000;
    border: none;

    display: flex;
    justify-content: center;
    align-items: center;
}

#add-to-bag-button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 56px;
    border-radius: 48px;
    background: #FA4616;

    /* Allows button to grow and shrink */
    flex: 1;

    /* Style for text */
    color: #FFF;
    font-size: 16px;
    font-weight: 700;
    border: none;
}


/* footer styling */

footer {
    font-family: 'Nunito', sans-serif;
    background-color: #000;
    color: #fff;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.h3-footer {
    font-size: 20px;
    padding: 30px 0;
}

/* get help section footer */
.get-help-container {
    width: 100%;
    padding: 60px 16px;
}

.get-help-buttons-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: flex-start;
}

.get-help-button {
    background-color: #000;
    border: 3px solid #fff;
    border-radius: 48px;
    padding: 8px 25px;
    font-weight: 800;
    color: #fff;
    text-align: center;
    cursor: pointer;
}

/* information section footer */
.info-container {
    width: 100%;
    padding: 60px 16px;
}

.info-sections {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.info-box1 li,
.info-box2 li {
    padding-bottom: 20px;
    padding-right: 20px;
}

.info-box1 ul li a,
.info-box2 ul li a {
    color: #fff;
    text-decoration: none;
    list-style: none;
    font-weight: 300;
}

.info-box1 ul,
.info-box2 ul {
    list-style-type: none;
}

.footer-copy {
    font-size: 14px;
    padding-bottom: 30px;
}