@media screen and (min-width: 991px) {
    
    /* ----------HEADER---------- */

    /* Removes mobile bottom header */
    #bot-header-mobile {
        display: none;
    }

    /* Displays desktop bottom header */
    #bot-header-center-desktop {
        justify-content: space-between;
    }
    
    #bot-header-desktop {
        display: flex;
    }



    /* ----------PRODUCT SECTION---------- */

    #product-section {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
        max-width: 1200px;
    }

    #product-section > div {
        display: flex;
        flex-direction: row;
        gap: 40px;
        max-width: 1200px;
    }

    #product-visual-and-nav {
        display: flex;
        flex-direction: column-reverse;
        width: 60%;
    }

    #product-information {
        padding-top: 46px;
    }

    /* ----------FOOTER---------- */

    #footer-center {
        display: flex;
        justify-content: center;
    }

    #footer-elements {
        flex-direction: row-reverse;
        justify-content: space-between;
        max-width: 1280px;
    }

    #get-help-container {
        padding: 0;
        width: 280px;
    }

    #info-container {
        padding: 0;
        width: 496px;
    }
}